.container {
    width: 100%;
    height: 50px;
    border: 5px solid rgb(245, 239, 239);
    border-bottom-color: aqua;
    overflow: hidden;

}

.container div {
    font-size: 50px;
    font-family: 'Times New Roman', Times serif;
    animation: text 5s infinite ease-in;
}

@keyframes text {
    0% {

        transform: translateY(0%);
    }

    20% {

        transform: translateY(-100%);
    }

    40% {

        transform: translateY(-200%);
    }

    60% {

        transform: translateY(-300%);
    }

    80% {

        transform: translateY(-400%);
    }

    100% {
        transform: translateY(-500%);
    }
}


.parent {
    height: 200px;
    width: 200px;
    border-radius: 4px solid black;
    margin-top: 10px;
    margin: 50px auto;
    animation: image 3s ease-in;
    animation-timeline: view();
    animation-range: 0 cover 80%;
}

img {
    height: 200px;
    width: 200px;
}




@keyframes image {

    from {
        /* opacity: 0; */
        transform: scale(0.5);
        animation-timeline: range 0 cover 80%;
        clip-path: insect();
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}